{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected</title>
<body>
    <div class="container">
        <h2>Protected Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id numquam quasi dignissimos ex eligendi incidunt veniam maxime doloribus omnis amet alias, sed beatae sequi corporis maiores illum ipsum dolorum laudantium.</p>
        <a href="{% url 'home' %}">Home</a>
    </div>
</body>
</html>